anand-synapse1/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "anand-synapse1"
		},
		"MySql1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'MySql1'"
		},
		"anand-synapse1-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'anand-synapse1-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:anand-synapse1.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"ded_poollinkedserviceSP_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ded_poollinkedserviceSP'"
		},
		"linkedService1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'linkedService1'"
		},
		"anand-synapse1-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ananddls.dfs.core.windows.net"
		},
		"linkedService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ananddls.dfs.core.windows.net/"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/copy_activity')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": "select * from dbo.emp"
							},
							"sink": {
								"type": "SqlPoolSink",
								"allowCopyCommand": true,
								"copyCommandSettings": {}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "linkedService1",
									"type": "LinkedServiceReference"
								},
								"path": "data"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"name": "id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "emp_name",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "MySqlSource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DedicatedSqlPool",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-04-19T07:06:14Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/MySqlSource')]",
				"[concat(variables('workspaceId'), '/datasets/DedicatedSqlPool')]",
				"[concat(variables('workspaceId'), '/linkedServices/linkedService1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/metadatadriven_pipelline')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlPoolSource",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "lookup_meta",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 2,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource"
										},
										"sink": {
											"type": "SqlPoolSink",
											"writeBehavior": "Upsert",
											"upsertSettings": {
												"keys": {
													"value": "@array(item().keycolumn)",
													"type": "Expression"
												},
												"interimSchemaName": ""
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "anand-synapse1-WorkspaceDefaultStorage",
												"type": "LinkedServiceReference"
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "mysql_foreach",
											"type": "DatasetReference",
											"parameters": {
												"sourcedb": {
													"value": "@item().sourcedb",
													"type": "Expression"
												},
												"sourcetablename": {
													"value": "@item().sourcetable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ded_pool_sink",
											"type": "DatasetReference",
											"parameters": {
												"desttable": {
													"value": "@item().desttable",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "success_log_table",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[InsertAuditLog]",
										"storedProcedureParameters": {
											"DestDb": {
												"value": {
													"value": "@item().destdb",
													"type": "Expression"
												},
												"type": "String"
											},
											"Desttable": {
												"value": {
													"value": "@item().desttable",
													"type": "Expression"
												},
												"type": "String"
											},
											"Pipelineendtime": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"Pipelinestarttime": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"Rowcount": {
												"value": {
													"value": "@activity('Copy data1').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SourceDb": {
												"value": {
													"value": "@item().sourcedb",
													"type": "Expression"
												},
												"type": "String"
											},
											"Sourcetable": {
												"value": {
													"value": "@item().sourcetable",
													"type": "Expression"
												},
												"type": "String"
											},
											"Status": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].status",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ded_poollinkedserviceSP",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "fail_log_table",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[dbo].[InsertAuditLog]",
										"storedProcedureParameters": {
											"DestDb": {
												"value": {
													"value": "@item().destdb",
													"type": "Expression"
												},
												"type": "String"
											},
											"Desttable": {
												"value": {
													"value": "@item().desttable",
													"type": "Expression"
												},
												"type": "String"
											},
											"Pipelineendtime": {
												"value": {
													"value": "@utcNow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"Pipelinestarttime": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"Rowcount": {
												"value": {
													"value": "@activity('Copy data1').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"SourceDb": {
												"value": {
													"value": "@item().sourcedb",
													"type": "Expression"
												},
												"type": "String"
											},
											"Sourcetable": {
												"value": {
													"value": "@item().sourcetable",
													"type": "Expression"
												},
												"type": "String"
											},
											"Status": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].status",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ded_poollinkedserviceSP",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-04-20T06:34:25Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/lookup_meta')]",
				"[concat(variables('workspaceId'), '/datasets/mysql_foreach')]",
				"[concat(variables('workspaceId'), '/datasets/ded_pool_sink')]",
				"[concat(variables('workspaceId'), '/linkedServices/ded_poollinkedserviceSP')]",
				"[concat(variables('workspaceId'), '/linkedServices/anand-synapse1-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/wrapper_pipeline')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "metadatadriven_pipelline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "success_log_pipeline",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[InsertAuditLogPipeline]",
							"storedProcedureParameters": {
								"Pipelineendtime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipelineid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelinename": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipelinestarttime": {
									"value": {
										"value": "@variables('starttime')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipelinetriggertype": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "succeeded",
										"type": "Expression"
									},
									"type": "String"
								},
								"workspacename": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ded_poollinkedserviceSP",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "fail_log_pipeline",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].[InsertAuditLogPipeline]",
							"storedProcedureParameters": {
								"Pipelineendtime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipelineid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelinename": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"Pipelinestarttime": {
									"value": {
										"value": "@variables('starttime')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"pipelinetriggertype": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"Status": {
									"value": {
										"value": "Failed",
										"type": "Expression"
									},
									"type": "String"
								},
								"workspacename": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ded_poollinkedserviceSP",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "starttime",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"starttime": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-04-20T06:51:14Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/metadatadriven_pipelline')]",
				"[concat(variables('workspaceId'), '/linkedServices/ded_poollinkedserviceSP')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DedicatedSqlPool')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "emp_name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "employee"
				},
				"sqlPool": {
					"referenceName": "ded_pool",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/ded_pool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/MySqlSource')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MySql1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "`emp`"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/MySql1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/auditlogsource')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [
					{
						"name": "sur_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "sourcedb",
						"type": "varchar"
					},
					{
						"name": "sourcetable",
						"type": "varchar"
					},
					{
						"name": "destdb",
						"type": "varchar"
					},
					{
						"name": "desttable",
						"type": "varchar"
					},
					{
						"name": "rowcounts",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pipelinestarttime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "pipelineendtime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "pipelinestatus",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "audit_log_table"
				},
				"sqlPool": {
					"referenceName": "ded_pool",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/ded_pool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ded_pool_sink')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"desttable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "dbo",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().desttable",
						"type": "Expression"
					}
				},
				"sqlPool": {
					"referenceName": "ded_pool",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/ded_pool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/lookup_meta')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [
					{
						"name": "sourcedb",
						"type": "varchar"
					},
					{
						"name": "sourcetable",
						"type": "varchar"
					},
					{
						"name": "destdb",
						"type": "varchar"
					},
					{
						"name": "desttable",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "metatable"
				},
				"sqlPool": {
					"referenceName": "ded_pool",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/ded_pool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/mysql_foreach')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MySql1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourcedb": {
						"type": "string"
					},
					"sourcetablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@concat(dataset().sourcedb,'.',dataset().sourcetablename)",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/MySql1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/MySql1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"connectionString": "[parameters('MySql1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "selfhostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/selfhostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/anand-synapse1-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('anand-synapse1-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/anand-synapse1-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('anand-synapse1-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ded_poollinkedserviceSP')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('ded_poollinkedserviceSP_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/linkedService1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('linkedService1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('linkedService1_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/selfhostedIR')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SP')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "Create Proc [dbo].[InsertAuditLog] @SourceDb nvarchar(20),@Sourcetable nvarchar(20),@DestDb nvarchar(20),@Desttable nvarchar(20),@Rowcount int,@Pipelinestarttime datetime,@Pipelineendtime DATETIME,@Status nvarchar(20)\nAS\nBEGIN\n\nInsert into [dbo].[audit_log_table](\n    Sourcedb,\n    Sourcetable,\n    DestDb,\n    Desttable,\n    rowcounts,\n    pipelinestarttime,\n    pipelineendtime,\n    pipelinestatus\n) values (\n    @SourceDb ,\n    @Sourcetable,\n    @DestDb,\n    @Desttable,\n    @Rowcount,\n    @Pipelinestarttime ,\n    @Pipelineendtime,\n    @Status\n)\n\nEND",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ded_pool",
						"poolName": "ded_pool"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TableDefinition')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "create table metatable(keycolumn VARCHAR(20),sourcedb varchar(20),sourcetable varchar(20),destdb varchar(20),desttable varchar(20))\n\ninsert into metatable values('cusid','dbo','customer','ded_pool','customer')\ninsert into metatable values('prodid','dbo','product','ded_pool','product')\ninsert into metatable values('vendid','dbo','vendor','ded_pool','vendor')\ninsert into metatable values('tranid','dbo','transactions','ded_pool','transactions')\n\ncreate table audit_log_table(sur_id int IDENTITY,workspacename varchar(40) NULL,pipelinetriggertype varchar(30) NULL,pipelineid varchar(40) NULL,pipelinename varchar(40) NULL,sourcedb varchar(20) NULL,sourcetable varchar(20) NULL,destdb varchar(20) NULL,desttable varchar(20) NULL,rowcounts int NULL,pipelinestarttime DATETIME NULL,pipelineendtime DATETIME NULL,pipelinestatus VARCHAR(20) NULL)\n\ntruncate table audit_log_table\n\nselect * from audit_log_table\nselect * from metatable\n\ncreate table customer(cusid int,cusname VARCHAR(20))\ncreate table product(prodid int,prodname VARCHAR(20))\ncreate table vendor(vendid int,vendname VARCHAR(20))\ncreate table transactions(tranid int,amount DECIMAL(10,2))\n\n\nselect * from product\nselect * from customer\n\ntruncate table product\n\ntruncate table customer\n\ntruncate table vendor\n\ntruncate table transactions\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ded_pool",
						"poolName": "ded_pool"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Table_Definition')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "create table metatable(keycolumn VARCHAR(20),sourcedb varchar(20),sourcetable varchar(20),destdb varchar(20),desttable varchar(20))\n\ninsert into metatable values('cusid','dbo','customer','ded_pool','customer')\ninsert into metatable values('prodid','dbo','product','ded_pool','product')\ninsert into metatable values('vendid','dbo','vendor','ded_pool','vendor')\ninsert into metatable values('tranid','dbo','transactions','ded_pool','transactions')\n\ncreate table audit_log_table(sur_id int IDENTITY,sourcedb varchar(20),sourcetable varchar(20),destdb varchar(20),desttable varchar(20),rowcounts int,pipelinestarttime DATETIME,pipelineendtime DATETIME,pipelinestatus VARCHAR(20))\n\nselect * from audit_log_table\nselect * from metatable\n\ncreate table customer(cusid int,cusname VARCHAR(20))\ncreate table product(prodid int,prodname VARCHAR(20))\ncreate table vendor(vendid int,vendname VARCHAR(20))\ncreate table transactions(tranid int,amount DECIMAL(10,2))\n\ndrop TABLE empl\n\nselect * from product\nselect * from customer\n\ntruncate table product\n\ntruncate table customer\n\ntruncate table vendor\n\ntruncate table \n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ded_pool",
						"poolName": "ded_pool"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/storedprocedurepipeline')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "Create Proc [dbo].[InsertAuditLogPipeline] @workspacename nvarchar(20),@pipelinename nvarchar(20),@pipelineid nvarchar(20),@pipelinetriggertype nvarchar(20),@Pipelinestarttime datetime,@Pipelineendtime DATETIME,@Status nvarchar(20)\nAS\nBEGIN\n\nInsert into [dbo].[audit_log_table](\n    workspacename,\n    pipelinename,\n    pipelineid,\n    pipelinetriggertype,\n    pipelinestarttime,\n    pipelineendtime,\n    pipelinestatus\n) values (\n    @workspacename ,\n    @pipelinename,\n    @pipelineid,\n    @pipelinetriggertype,\n    @Pipelinestarttime ,\n    @Pipelineendtime,\n    @Status\n)\n\nEND",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ded_pool",
						"poolName": "ded_pool"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/storedproceduretable')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "Create Proc [dbo].[InsertAuditLog] @SourceDb nvarchar(20),@Sourcetable nvarchar(20),@DestDb nvarchar(20),@Desttable nvarchar(20),@Rowcount int,@Pipelinestarttime datetime,@Pipelineendtime DATETIME,@Status nvarchar(20)\nAS\nBEGIN\n\nInsert into [dbo].[audit_log_table](\n    Sourcedb,\n    Sourcetable,\n    DestDb,\n    Desttable,\n    rowcounts,\n    pipelinestarttime,\n    pipelineendtime,\n    pipelinestatus\n) values (\n    @SourceDb ,\n    @Sourcetable,\n    @DestDb,\n    @Desttable,\n    @Rowcount,\n    @Pipelinestarttime ,\n    @Pipelineendtime,\n    @Status\n)\n\nEND",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ded_pool",
						"poolName": "ded_pool"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ded_pool')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"collation": "SQL_Latin1_General_CP1_CI_AS",
				"maxSizeBytes": 263882790666240,
				"annotations": []
			},
			"dependsOn": [],
			"location": "centralindia"
		}
	]
}